absl-py==2.5.0
audio-separator==0.47.0
audioread==3.1.0
beartype==0.18.5
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
cython==3.3.0
decorator==5.3.1
einops==0.8.2
filelock==3.32.3
flatbuffers==25.12.19
fsspec==2026.7.0
humanfriendly==10.0
idna==3.19
imageio-ffmpeg==0.6.0
jinja2==3.1.6
joblib==1.6.0
julius==0.2.8
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.49.0
markupsafe==3.0.3
ml-collections==1.1.0
ml-dtypes==0.6.0
mpmath==1.3.0
msgpack==1.2.2
networkx==3.4.2
numba==0.67.0
numpy==2.2.6
onnx-weekly==1.24.0.dev20260928
onnx2torch-py313==1.6.0
onnxruntime-gpu==1.23.2
packaging==26.3
pillow==12.3.0
platformdirs==4.11.8
pooch==1.9.0
protobuf==7.36.1
pycparser==3.0
pydub==0.25.1
pyreadline3==3.5.6
pyyaml==6.0.3
requests==2.34.2
resampy==0.4.2
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.70.0
typing-extensions==4.16.0
urllib3==2.7.0
setuptools==71.1.0
