absl-py==2.4.0
accelerate==1.12.0
# Editable Git install with no remote (ace-step==1.5.0)
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
audioread==3.1.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
diffusers==0.37.1
diskcache==5.6.3
einops==0.8.2
einx==0.3.0
fastapi==0.128.0
ffmpy==1.0.0
filelock==3.20.3
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.1.0
gradio==6.2.0
gradio_client==2.0.2
groovy==0.1.2
grpcio==1.78.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
Jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.4.9
lazy-loader==0.5
librosa==0.11.0
lightning==2.6.1
lightning-utilities==0.15.2
llvmlite==0.46.0
loguru==0.7.3
lycoris_lora==3.4.0
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
modelscope==1.34.0
mpmath==1.3.0
msgpack==1.2.2
multidict==6.7.1
narwhals==2.26.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
orjson==3.11.5
packaging==26.0
pandas==2.3.3
peft==0.18.1
pillow==12.1.0
platformdirs==4.11.10
pooch==1.9.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.19.2
pyloudnorm==0.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytorch-lightning==2.6.1
pytorch-wavelets==1.3.0
pytz==2025.2
PyWavelets==1.9.0
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
rich==14.3.1
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.9.1
scipy==1.17.0
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
soundfile==0.13.1
soxr==1.1.0
starlette==0.50.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.7.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.13.3
torch==2.7.1+cu128
torchao==0.16.0
torchaudio==2.7.1+cu128
torchcodec==0.10.0
torchmetrics==1.8.2
torchvision==0.22.1+cu128
tqdm==4.67.1
transformers==4.57.6
triton-windows==3.3.1.post21
typer==0.21.1
typer-slim==0.21.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
vector-quantize-pytorch==1.27.20
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.5
win32_setctime==1.2.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
setuptools==71.1.0
